@let url = kcContext.url;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;
<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('loginProfileTitle') }}
    </ng-container>
    <ng-container content>
        <form
            id="kc-update-profile-form"
            [kcClass]="'kcFormClass'"
            [action]="url.loginAction"
            method="post"
        >
            <ng-container [ngComponentOutlet]="userProfileFormFields() ?? null"></ng-container>
            <div [kcClass]="'kcFormGroupClass'">
                <div
                    id="kc-form-options"
                    [kcClass]="'kcFormOptionsClass'"
                >
                    <div [kcClass]="'kcFormOptionsWrapperClass'"></div>
                </div>
                <div
                    id="kc-form-buttons"
                    [kcClass]="'kcFormButtonsClass'"
                >
                    <input
                        [disabled]="!isFormSubmittable()"
                        [kcClass]="{
                            kcButtonClass: true,
                            kcButtonPrimaryClass: true,
                            kcButtonBlockClass: !isAppInitiatedAction,
                            kcButtonLargeClass: true
                        }"
                        type="submit"
                        [value]="i18n.msgStr('doSubmit')"
                    />
                    @if (isAppInitiatedAction) {
                        <button
                            [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                            type="submit"
                            name="cancel-aia"
                            value="true"
                            formNoValidate
                        >
                            {{ i18n.msgStr('doCancel') }}
                        </button>
                    }
                </div>
            </div>
        </form>
    </ng-container>
</kc-login-template>
