@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;

<ng-template #headerNode>
    {{ i18n.msgStr('updatePasswordTitle') }}
</ng-template>
<form
    id="kc-passwd-update-form"
    method="post"
    [kcClass]="'kcFormClass'"
    [action]="url.loginAction"
>
    <div [kcClass]="'kcFormGroupClass'">
        <div [kcClass]="'kcLabelWrapperClass'">
            <label
                for="password-new"
                [kcClass]="'kcLabelClass'"
            >
                {{ i18n.msgStr('passwordNew') }}
            </label>
        </div>
        <div [kcClass]="'kcInputWrapperClass'">
            <kc-password-wrapper passwordInputId="password-new">
                <input
                    type="password"
                    id="password-new"
                    name="password-new"
                    autoFocus
                    autoComplete="new-password"
                    [kcClass]="'kcInputClass'"
                    [attr.aria-invalid]="messagesPerField.existsError('password', 'password-confirm')"
                />
            </kc-password-wrapper>

            @if (messagesPerField.existsError('password')) {
                <span
                    id="input-error-password"
                    aria-live="polite"
                    [kcClass]="'kcInputErrorMessageClass'"
                    [innerHtml]="messagesPerField.get('password') | kcSanitize: 'html'"
                ></span>
            }
        </div>
    </div>

    <div [kcClass]="'kcFormGroupClass'">
        <div [kcClass]="'kcLabelWrapperClass'">
            <label
                for="password-confirm"
                [kcClass]="'kcLabelClass'"
            >
                {{ i18n.msgStr('passwordConfirm') }}
            </label>
        </div>
        <div [kcClass]="'kcInputWrapperClass'">
            <kc-password-wrapper passwordInputId="password-confirm">
                <input
                    type="password"
                    id="password-confirm"
                    name="password-confirm"
                    autoFocus
                    autoComplete="new-password"
                    [kcClass]="'kcInputClass'"
                    [attr.aria-invalid]="messagesPerField.existsError('password', 'password-confirm')"
                />
            </kc-password-wrapper>
            @if (messagesPerField.existsError('password-confirm')) {
                <span
                    id="input-error-password-confirm"
                    aria-live="polite"
                    [kcClass]="'kcInputErrorMessageClass'"
                    [innerHtml]="messagesPerField.get('password-confirm') | kcSanitize: 'html'"
                ></span>
            }
        </div>
    </div>
    <div [kcClass]="'kcFormGroupClass'">
        <kc-logout-other-sessions />
        <div
            id="kc-form-buttons"
            [kcClass]="'kcFormButtonsClass'"
        >
            <input
                type="submit"
                [kcClass]="{
                    kcButtonClass: true,
                    kcButtonPrimaryClass: true,
                    kcButtonBlockClass: !isAppInitiatedAction,
                    kcButtonLargeClass: true
                }"
                [value]="i18n.msgStr('doSubmit')"
            />
            @if (isAppInitiatedAction) {
                <button
                    type="submit"
                    name="cancel-aia"
                    value="true"
                    [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                >
                    {{ i18n.msgStr('doCancel') }}
                </button>
            }
        </div>
    </div>
</form>
