@let url = kcContext.url;
@let logoutConfirm = kcContext.logoutConfirm;
@let client = kcContext.client;

<kc-login-template
  [displayInfo]="displayInfo"
  [bodyClassName]="bodyClassName()"
  [displayMessage]="displayMessage"
  [displayRequiredFields]="displayRequiredFields()"
  [documentTitle]="documentTitle()"
>
  <ng-container headerNode>
    {{ 'logoutConfirmTitle' | msgStr }}
  </ng-container>
  <ng-container content>
    <div
      id="kc-logout-confirm"
      class="content-area"
    >
      <p class="instruction">{{ 'logoutConfirmHeader' | msgStr }}</p>
      <form
        class="form-actions"
        [action]="url.logoutConfirmAction"
        method="POST"
      >
        <input
          type="hidden"
          name="session_code"
          [value]="logoutConfirm.code"
        />
        <div [kcClass]="['kcFormGroupClass']">
          <div id="kc-form-options">
            <div [kcClass]="['kcFormOptionsWrapperClass']"></div>
          </div>
          <div
            id="kc-form-buttons"
            class="kcFormGroupClass"
          >
            <input
              tabIndex="4"
              [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
              name="confirmLogout"
              id="kc-logout"
              type="submit"
              [value]="'doLogout' | msgStr"
            />
          </div>
        </div>
      </form>
      <div id="kc-info-message">
        @if (!logoutConfirm.skipLink && client.baseUrl) {
          <p>
            <a [href]="client.baseUrl">{{ 'backToApplication' | msgStr }}</a>
          </p>
        }
      </div>
    </div>
  </ng-container>
</kc-login-template>
