@let recoveryAuthnCodesConfigBean = kcContext.recoveryAuthnCodesConfigBean;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;
<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('recovery-code-config-header') }}
    </ng-container>

    <ng-container content>
        <div
            [kcClass]="'kcRecoveryCodesWarning'"
            class="pf-c-alert pf-m-warning pf-m-inline"
            aria-label="Warning alert"
        >
            <div class="pf-c-alert__icon">
                <i
                    class="pficon-warning-triangle-o"
                    aria-hidden="true"
                ></i>
            </div>
            <h4 class="pf-c-alert__title">
                <span class="pf-screen-reader">Warning alert:</span>
                {{ i18n.msgStr('recovery-code-config-warning-title') }}
            </h4>
            <div class="pf-c-alert__description">
                <p>{{ i18n.msgStr('recovery-code-config-warning-message') }}</p>
            </div>
        </div>

        <ol
            [id]="olRecoveryCodesListId"
            [kcClass]="'kcRecoveryCodesList'"
        >
            @for (code of recoveryAuthnCodesConfigBean.generatedRecoveryAuthnCodesList; track code; let i = $index) {
                <li>
                    <span>{{ i + 1 }}:</span> {{ code.slice(0, 4) }}-{{ code.slice(4, 8) }}-{{ code.slice(8) }}
                </li>
            }
        </ol>

        <!-- actions -->
        <div [kcClass]="'kcRecoveryCodesActions'">
            <button
                id="printRecoveryCodes"
                class="pf-c-button pf-m-link"
                type="button"
            >
                <i
                    class="pficon-print"
                    aria-hidden="true"
                ></i>
                {{ i18n.msgStr('recovery-codes-print') }}
            </button>
            <button
                id="downloadRecoveryCodes"
                class="pf-c-button pf-m-link"
                type="button"
            >
                <i
                    class="pficon-save"
                    aria-hidden="true"
                ></i>
                {{ i18n.msgStr('recovery-codes-download') }}
            </button>
            <button
                id="copyRecoveryCodes"
                class="pf-c-button pf-m-link"
                type="button"
            >
                <i
                    class="pficon-blueprint"
                    aria-hidden="true"
                ></i>
                {{ i18n.msgStr('recovery-codes-copy') }}
            </button>
        </div>

        <!-- confirmation checkbox -->

        <div
            [kcClass]="'kcFormOptionsClass'"
            class="checkbox"
        >
            <label for="kcRecoveryCodesConfirmationCheck">
                <input
                    [kcClass]="'kcCheckInputClass'"
                    type="checkbox"
                    id="kcRecoveryCodesConfirmationCheck"
                    name="kcRecoveryCodesConfirmationCheck"
                    [checked]="toggleRecoveryCodesConfirmation()"
                    (change)="toggleRecoveryCodesConfirmation.set($any($event.target).checked)"
                />
                {{ i18n.msgStr('recovery-codes-confirmation-message') }}
            </label>
        </div>

        <form
            [action]="kcContext.url.loginAction"
            [kcClass]="'kcFormGroupClass'"
            id="kc-recovery-codes-settings-form"
            method="post"
        >
            <input
                type="hidden"
                name="generatedRecoveryAuthnCodes"
                [value]="recoveryAuthnCodesConfigBean.generatedRecoveryAuthnCodesAsString"
            />
            <input
                type="hidden"
                name="generatedAt"
                [value]="recoveryAuthnCodesConfigBean.generatedAt"
            />
            <input
                type="hidden"
                id="userLabel"
                name="userLabel"
                [value]="i18n.msgStr('recovery-codes-label-default')"
            />

            <kc-logout-other-sessions></kc-logout-other-sessions>

            @if (isAppInitiatedAction) {
                <input
                    type="submit"
                    [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
                    id="saveRecoveryAuthnCodesBtn"
                    [value]="i18n.msgStr('recovery-codes-action-complete')"
                    [disabled]="!toggleRecoveryCodesConfirmation()"
                />
                <button
                    type="submit"
                    [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                    id="cancelRecoveryAuthnCodesBtn"
                    name="cancel-aia"
                    value="true"
                >
                    {{ i18n.msgStr('recovery-codes-action-cancel') }}
                </button>
            } @else {
                <input
                    type="submit"
                    [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                    id="saveRecoveryAuthnCodesBtn"
                    [value]="i18n.msgStr('recovery-codes-action-complete')"
                    [disabled]="!toggleRecoveryCodesConfirmation()"
                />
            }
        </form>
    </ng-container>
</kc-login-template>
