@let log = kcContext.log;

<kc-account-template [active]="'log'">
  <ng-container content>
    <div [kcClass]="'kcContentWrapperClass'">
      <div class="col-md-10">
        <h2>{{ 'accountLogHtmlTitle' | msgStr }}</h2>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>{{ 'date' | msgStr }}</td>
            <td>{{ 'event' | msgStr }}</td>
            <td>{{ 'ip' | msgStr }}</td>
            <td>{{ 'client' | msgStr }}</td>
            <td>{{ 'details' | msgStr }}</td>
          </tr>
        </thead>

        <tbody>
          @for (event of log.events; track event) {
            <tr>
              <td>{{ event.date ? (event.date | date) : '' }}</td>
              <td>{{ event.event }}</td>
              <td>{{ event.ipAddress }}</td>
              <td>{{ event.client || '' }}</td>
              <td>
                @for (detail of event.details; track detail; let last = $last) {
                  <span>
                    {{ detail.key }} = {{ detail.value }}
                    @if (!last) {
                      ,&nbsp;
                    }
                  </span>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </ng-container>
</kc-account-template>
