@let url = kcContext.url;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;

<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('webauthn-error-title') }}
    </ng-container>
    <ng-container content>
        <form
            id="kc-error-credential-form"
            [kcClass]="'kcFormClass'"
            [action]="url.loginAction"
            method="post"
        >
            <input
                type="hidden"
                id="executionValue"
                name="authenticationExecution"
            />
            <input
                type="hidden"
                id="isSetRetry"
                name="isSetRetry"
            />
        </form>
        <input
            tabIndex="4"
            (click)="onClick()"
            type="button"
            [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
            name="try-again"
            id="kc-try-again"
            [value]="i18n.msgStr('doTryAgain')"
        />
        @if (isAppInitiatedAction) {
            <form
                [action]="url.loginAction"
                [kcClass]="'kcFormClass'"
                id="kc-webauthn-settings-form"
                method="post"
            >
                <button
                    type="submit"
                    [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                    id="cancelWebAuthnAIA"
                    name="cancel-aia"
                    value="true"
                >
                    {{ i18n.msgStr('doCancel') }}
                </button>
            </form>
        }
    </ng-container>
</kc-login-template>
