@let url = kcContext.url;
@let configuredOtpCredentials = kcContext.configuredOtpCredentials;
<kc-login-template
  [displayInfo]="displayInfo"
  [bodyClassName]="bodyClassName()"
  [displayMessage]="displayMessage"
  [displayRequiredFields]="displayRequiredFields()"
  [documentTitle]="documentTitle()"
>
  <ng-container headerNode>
    {{ 'doLogIn' | msgStr }}
  </ng-container>
  <ng-container content>
    <form
      id="kc-otp-reset-form"
      [kcClass]="'kcFormClass'"
      [action]="url.loginAction"
      method="post"
    >
      <div [kcClass]="'kcInputWrapperClass'">
        <div [kcClass]="'kcInfoAreaWrapperClass'">
          <p id="kc-otp-reset-form-description">{{ 'otp-reset-description' | msgStr }}</p>
          @for (otpCredential of configuredOtpCredentials.userOtpCredentials; track otpCredential; let i = $index) {
            <input
              id="kc-otp-credential-{{ i }}"
              [kcClass]="'kcLoginOTPListInputClass'"
              type="radio"
              name="selectedCredentialId"
              [value]="otpCredential.id"
              [defaultChecked]="otpCredential.id === configuredOtpCredentials.selectedCredentialId"
            />
            <label
              for="kc-otp-credential-0"
              [kcClass]="'kcLoginOTPListClass'"
              [tabIndex]="i"
            >
              <span [kcClass]="'kcLoginOTPListItemHeaderClass'">
                <span [kcClass]="'kcLoginOTPListItemIconBodyClass'">
                  <i
                    [kcClass]="'kcLoginOTPListItemIconClass'"
                    aria-hidden="true"
                  ></i>
                </span>
                <span [kcClass]="'kcLoginOTPListItemTitleClass'">{{ otpCredential.userLabel }}</span>
              </span>
            </label>
          }
          <div [kcClass]="'kcFormGroupClass'">
            <div
              id="kc-form-buttons"
              [kcClass]="'kcFormButtonsClass'"
            >
              <input
                id="kc-otp-reset-form-submit"
                [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                type="submit"
                [value]="'doSubmit' | msgStr"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</kc-login-template>
