@let url = kcContext.url;
<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('termsTitle') }}
    </ng-container>
    <ng-container content>
        <div id="kc-terms-text">{{ i18n.msgStr('termsText') }}</div>
        <form
            class="form-actions"
            [action]="url.loginAction"
            method="POST"
        >
            <input
                [kcClass]="['kcButtonClass', 'kcButtonClass', 'kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
                name="accept"
                id="kc-accept"
                type="submit"
                [value]="i18n.msgStr('doAccept')"
            />
            <input
                [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                name="cancel"
                id="kc-decline"
                type="submit"
                [value]="i18n.msgStr('doDecline')"
            />
        </form>
        <div className="clearfix"></div>
    </ng-container>
</kc-login-template>
