@let url = kcContext.url;

<ng-template #headerNode>
    {{ i18n.msgStr('termsTitle') }}
</ng-template>
<div id="kc-terms-text">{{ i18n.msgStr('termsText') }}</div>
<form
    class="form-actions"
    method="POST"
    [action]="url.loginAction"
>
    <input
        name="accept"
        id="kc-accept"
        type="submit"
        [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
        [value]="i18n.msgStr('doAccept')"
    />
    <input
        name="cancel"
        id="kc-decline"
        type="submit"
        [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
        [value]="i18n.msgStr('doDecline')"
    />
</form>
<div class="clearfix"></div>
