<div [kcClass]="'kcInputGroup'">
  <ng-content></ng-content>
  <button
    type="button"
    [kcClass]="'kcFormPasswordVisibilityButtonClass'"
    [attr.aria-label]="(isPasswordRevealed() ? 'hidePassword' : 'showPassword') | msgStr"
    [attr.aria-controls]="passwordInputId()"
    (click)="togglePasswordVisibility()"
  >
    <i
      [kcClass]="{
        kcFormPasswordVisibilityIconHide: isPasswordRevealed,
        kcFormPasswordVisibilityIconShow: !isPasswordRevealed,
      }"
      aria-hidden="true"
    ></i>
  </button>
</div>
