@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;

<kc-login-template
  [displayInfo]="displayInfo"
  [bodyClassName]="bodyClassName()"
  [displayMessage]="displayMessage"
  [displayRequiredFields]="displayRequiredFields()"
  [documentTitle]="documentTitle()"
>
  <ng-container headerNode>
    {{ 'updatePasswordTitle' | msgStr }}
  </ng-container>
  <ng-container content>
    <form
      id="kc-passwd-update-form"
      [kcClass]="'kcFormClass'"
      [action]="url.loginAction"
      method="post"
    >
      <div [kcClass]="'kcFormGroupClass'">
        <div [kcClass]="'kcLabelWrapperClass'">
          <label
            for="password-new"
            [kcClass]="'kcLabelClass'"
          >
            {{ 'passwordNew' | msgStr }}
          </label>
        </div>
        <div [kcClass]="'kcInputWrapperClass'">
          <kc-password-wrapper passwordInputId="password-new">
            <input
              type="password"
              id="password-new"
              name="password-new"
              [kcClass]="'kcInputClass'"
              autoFocus
              autoComplete="new-password"
              [attr.aria-invalid]="messagesPerField.existsError('password', 'password-confirm')"
            />
          </kc-password-wrapper>

          @if (messagesPerField.existsError('password')) {
            <span
              id="input-error-password"
              [kcClass]="'kcInputErrorMessageClass'"
              aria-live="polite"
              [innerHtml]="messagesPerField.get('password') | kcSanitize: 'html'"
            ></span>
          }
        </div>
      </div>

      <div [kcClass]="'kcFormGroupClass'">
        <div [kcClass]="'kcLabelWrapperClass'">
          <label
            for="password-confirm"
            [kcClass]="'kcLabelClass'"
          >
            {{ 'passwordConfirm' | msgStr }}
          </label>
        </div>
        <div [kcClass]="'kcInputWrapperClass'">
          <kc-password-wrapper passwordInputId="password-confirm">
            <input
              type="password"
              id="password-confirm"
              name="password-confirm"
              [kcClass]="'kcInputClass'"
              autoFocus
              autoComplete="new-password"
              [attr.aria-invalid]="messagesPerField.existsError('password', 'password-confirm')"
            />
          </kc-password-wrapper>
          @if (messagesPerField.existsError('password-confirm')) {
            <span
              id="input-error-password-confirm"
              [kcClass]="'kcInputErrorMessageClass'"
              aria-live="polite"
              [innerHtml]="messagesPerField.get('password-confirm') | kcSanitize: 'html'"
            ></span>
          }
        </div>
      </div>
      <div [kcClass]="'kcFormGroupClass'">
        <kc-logout-other-sessions></kc-logout-other-sessions>
        <div
          id="kc-form-buttons"
          [kcClass]="'kcFormButtonsClass'"
        >
          <input
            [kcClass]="{
              kcButtonClass: true,
              kcButtonPrimaryClass: true,
              kcButtonBlockClass: !isAppInitiatedAction,
              kcButtonLargeClass: true,
            }"
            type="submit"
            value="{{ 'doSubmit' | msgStr }}"
          />
          @if (isAppInitiatedAction) {
            <button
              [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
              type="submit"
              name="cancel-aia"
              value="true"
            >
              {{ 'doCancel' | msgStr }}
            </button>
          }
        </div>
      </div>
    </form>
  </ng-container>
</kc-login-template>
