@let code = kcContext.code;

<kc-login-template>
    <ng-container headerNode>
        @if (code.success) {
            {{ i18n.msgStr('codeSuccessTitle') }}
        } @else {
            {{ i18n.msgStr('codeErrorTitle', code.error) }}
        }
    </ng-container>

    <ng-container content>
        <div id="kc-code">
            @if (code.success) {
                <p>{{ i18n.msgStr('copyCodeInstruction') }}</p>
                <input
                    id="code"
                    [kcClass]="'kcTextareaClass'"
                    [defaultValue]="code.code"
                />
            } @else {
                <p id="error">{{ code.error }}</p>
            }
        </div>
    </ng-container>
</kc-login-template>
