@let skipLink = kcContext.skipLink;
@let actionUri = kcContext.actionUri;
@let pageRedirectUri = kcContext.pageRedirectUri;
@let client = kcContext.client;
@let messageHeader = kcContext.messageHeader;
@let message = kcContext.message;
<kc-login-template
  [displayInfo]="displayInfo"
  [bodyClassName]="bodyClassName()"
  [displayMessage]="displayMessage"
  [displayRequiredFields]="displayRequiredFields()"
  [documentTitle]="documentTitle()"
>
  <ng-container headerNode>
    <span [innerHTML]="messageHeader ?? message.summary | advancedMsgStr | kcSanitize: 'html'"> </span>
  </ng-container>
  <ng-container content>
    <div id="kc-info-message">
      <p
        class="instruction"
        [innerHTML]="infoMessage | kcSanitize: 'html'"
      ></p>
      @if (!skipLink) {
        @if (pageRedirectUri) {
          <p>
            <a
              [href]="pageRedirectUri"
              [innerHTML]="'backToApplication' | msgStr | kcSanitize: 'html'"
            >
            </a>
          </p>
        }
        @if (actionUri) {
          <p>
            <a
              [href]="actionUri"
              [innerHTML]="'proceedWithAction' | msgStr | kcSanitize: 'html'"
            >
            </a>
          </p>
        }
        @if (client.baseUrl) {
          <p>
            <a
              [href]="client.baseUrl"
              [innerHTML]="'backToApplication' | msgStr | kcSanitize: 'html'"
            >
            </a>
          </p>
        }
      }
    </div>
  </ng-container>
</kc-login-template>
