@let url = kcContext.url;
@let triggered_from_aia = kcContext.triggered_from_aia;
<kc-login-template>
    <ng-container headerNode>
        {{ i18n.msgStr('deleteAccountConfirm') }}
    </ng-container>
    <ng-container content>
        <form
            [action]="url.loginAction"
            method="post"
            class="form-actions"
        >
            <div
                class="alert alert-warning"
                style="margin-top: 0; margin-bottom: 30px"
            >
                <span class="pficon pficon-warning-triangle-o"></span>
                {{ i18n.msgStr('irreversibleAction') }}
            </div>
            <p>{{ i18n.msgStr('deletingImplies') }}</p>
            <ul style="color: #72767b; list-style: disc; list-style-position: inside">
                <li>{{ i18n.msgStr('loggingOutImmediately') }}</li>
                <li>{{ i18n.msgStr('errasingData') }}</li>
            </ul>
            <p class="delete-account-text">
                {{ i18n.msgStr('finalDeletionConfirmation') }}
            </p>
            <div id="kc-form-buttons">
                <input
                    [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
                    type="submit"
                    [value]="i18n.msgStr('doConfirmDelete')"
                />
                @if (triggered_from_aia) {
                    <button
                        [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                        style="margin-left: calc(100% - 220px)"
                        type="submit"
                        name="cancel-aia"
                        value="true"
                    >
                        {{ i18n.msgStr('doCancel') }}
                    </button>
                }
            </div>
        </form>
    </ng-container>
</kc-login-template>
