@let url = kcContext.url;
@let mode = kcContext.mode;
@let messagesPerField = kcContext.messagesPerField;
@let stateChecker = kcContext.stateChecker;
@let totp = kcContext.totp;

<kc-account-template [active]="'totp'">
  <ng-container content>
    <div class="row">
      <div class="col-md-10">
        <h2>{{ 'authenticatorTitle' | msgStr }}</h2>
      </div>
      @if (totp.otpCredentials.length) {
        <div class="subtitle col-md-2">
          <span class="required">*</span>
          {{ 'requiredFields' | msgStr }}
        </div>
      }
    </div>
    @if (totp.enabled) {
      <table class="table table-bordered table-striped">
        <thead>
          @if (totp.otpCredentials.length > 1) {
            <tr>
              <th [colSpan]="4">{{ 'configureAuthenticators' | msgStr }}</th>
            </tr>
          } @else {
            <tr>
              <th [colSpan]="3">{{ 'configureAuthenticators' | msgStr }}</th>
            </tr>
          }
        </thead>
        <tbody>
          @for (credential of totp.otpCredentials; track credential; let index = $index) {
            <tr>
              <td class="provider">{{ 'mobile' | msgStr }}</td>
              @if (totp.otpCredentials.length > 1) {
                <td class="provider">{{ credential.id }}</td>
              }
              <td class="provider">{{ credential.userLabel || '' }}</td>
              <td class="action">
                <form
                  [action]="url.totpUrl"
                  method="post"
                  class="form-inline"
                >
                  <input
                    type="hidden"
                    id="stateChecker"
                    name="stateChecker"
                    [value]="stateChecker"
                  />
                  <input
                    type="hidden"
                    id="submitAction"
                    name="submitAction"
                    value="Delete"
                  />
                  <input
                    type="hidden"
                    id="credentialId"
                    name="credentialId"
                    [value]="credential.id"
                  />
                  <button
                    [id]="'remove-mobile-' + index"
                    class="btn btn-default"
                  >
                    <i class="pficon pficon-delete"></i>
                  </button>
                </form>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div>
        <hr />
        <ol id="kc-totp-settings">
          <li>
            <p>{{ 'totpStep1' | msgStr }}</p>

            <ul id="kc-totp-supported-apps">
              @for (app of totp.supportedApplications; track app) {
                <li>{{ app | advancedMsgStr }}</li>
              }
            </ul>
          </li>
          @if (mode && mode === 'manual') {
            <li>
              <p>{{ 'totpManualStep2' | msgStr }}</p>
              <p>
                <span id="kc-totp-secret-key">{{ totp.totpSecretEncoded }}</span>
              </p>
              <p>
                <a
                  [href]="totp.qrUrl"
                  id="mode-barcode"
                >
                  {{ 'totpScanBarcode' | msgStr }}
                </a>
              </p>
            </li>
            <li>
              <p>{{ 'totpManualStep3' | msgStr }}</p>
              <ul>
                <li id="kc-totp-type">{{ 'totpType' | msgStr }}: {{ $any('totp.' + totp.policy.type) | msgStr }}</li>
                <li id="kc-totp-algorithm">{{ 'totpAlgorithm' | msgStr }}: {{ totp.policy.getAlgorithmKey() }}</li>
                <li id="kc-totp-digits">{{ 'totpDigits' | msgStr }}: {{ totp.policy.digits }}</li>
                @if (totp.policy.type === 'totp') {
                  <li id="kc-totp-period">{{ 'totpInterval' | msgStr }}: {{ totp.policy.period }}</li>
                } @else {
                  <li id="kc-totp-counter">{{ 'totpCounter' | msgStr }}: {{ totp.policy.initialCounter }}</li>
                }
              </ul>
            </li>
          } @else {
            <li>
              <p>{{ 'totpStep2' | msgStr }}</p>
              <p>
                <img
                  id="kc-totp-secret-qr-code"
                  [src]="'data:image/png;base64, ' + totp.totpSecretQrCode"
                  alt="Figure: Barcode"
                />
              </p>
              <p>
                <a
                  [href]="totp.manualUrl"
                  id="mode-manual"
                >
                  {{ 'totpUnableToScan' | msgStr }}
                </a>
              </p>
            </li>
          }
          <li>
            <p>{{ 'totpStep3' | msgStr }}</p>
            <p>{{ 'totpStep3DeviceName' | msgStr }}</p>
          </li>
        </ol>
        <hr />
        <form
          [action]="url.totpUrl"
          [kcClass]="'kcFormClass'"
          id="kc-totp-settings-form"
          method="post"
        >
          <input
            type="hidden"
            id="stateChecker"
            name="stateChecker"
            [value]="stateChecker"
          />
          <div [kcClass]="'kcFormGroupClass'">
            <div class="col-sm-2 col-md-2">
              <label
                for="totp"
                class="control-label"
              >
                {{ 'authenticatorCode' | msgStr }}
              </label>
              <span class="required">*</span>
            </div>
            <div class="col-sm-10 col-md-10">
              <input
                type="text"
                id="totp"
                name="totp"
                autoComplete="off"
                [kcClass]="'kcInputClass'"
                [attr.aria-invalid]="messagesPerField.existsError('totp')"
              />
              @if (messagesPerField.existsError('totp')) {
                <span
                  id="input-error-otp-code"
                  [kcClass]="'kcInputErrorMessageClass'"
                  aria-live="polite"
                  [innerHTML]="messagesPerField.get('totp') | kcSanitize: 'html'"
                ></span>
              }
            </div>
            <input
              type="hidden"
              id="totpSecret"
              name="totpSecret"
              [value]="totp.totpSecret"
            />
            @if (mode) {
              <input
                type="hidden"
                id="mode"
                [value]="mode"
              />
            }
          </div>

          <div [kcClass]="'kcFormGroupClass'">
            <div class="col-sm-2 col-md-2">
              <label
                for="userLabel"
                [kcClass]="'kcLabelClass'"
              >
                {{ 'totpDeviceName' | msgStr }}
              </label>
              @if (totp.otpCredentials.length >= 1) {
                <span class="required">*</span>
              }
            </div>
            <div class="col-sm-10 col-md-10">
              <input
                type="text"
                id="userLabel"
                name="userLabel"
                autoComplete="off"
                [kcClass]="'kcInputClass'"
                [attr.aria-invalid]="messagesPerField.existsError('userLabel')"
              />
              @if (messagesPerField.existsError('userLabel')) {
                <span
                  id="input-error-otp-label"
                  [kcClass]="'kcInputErrorMessageClass'"
                  aria-live="polite"
                  [innerHTML]="messagesPerField.get('userLabel') | kcSanitize: 'html'"
                ></span>
              }
            </div>
          </div>

          <div
            id="kc-form-buttons"
            class="text-right"
            [kcClass]="'kcFormGroupClass'"
          >
            <div [kcClass]="'kcInputWrapperClass'">
              <input
                type="submit"
                [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
                id="saveTOTPBtn"
                [value]="'doSave' | msgStr"
              />
              <button
                type="submit"
                [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                id="cancelTOTPBtn"
                name="submitAction"
                value="Cancel"
              >
                {{ 'doCancel' | msgStr }}
              </button>
            </div>
          </div>
        </form>
      </div>
    }
  </ng-container>
</kc-account-template>
