@let url = kcContext.url;
@let idpAlias = kcContext.idpAlias;
<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('confirmLinkIdpTitle') }}
    </ng-container>
    <ng-container content>
        <form
            id="kc-register-form"
            [action]="url.loginAction"
            method="post"
        >
            <div [kcClass]="'kcFormGroupClass'">
                <button
                    type="submit"
                    [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                    name="submitAction"
                    id="updateProfile"
                    value="updateProfile"
                >
                    {{ i18n.msgStr('confirmLinkIdpReviewProfile') }}
                </button>
                <button
                    type="submit"
                    [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                    name="submitAction"
                    id="linkAccount"
                    value="linkAccount"
                >
                    {{ i18n.msgStr('confirmLinkIdpContinue', idpAlias) }}
                </button>
            </div>
        </form>
    </ng-container>
</kc-login-template>
