@let url = kcContext.url;
@let user = kcContext.user;
<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('emailVerifyTitle') }}
    </ng-container>
    <ng-container infoNode>
        <p class="instruction">
            {{ i18n.msgStr('emailVerifyInstruction2') }}
            <br />
            <a [href]="url.loginAction">{{ i18n.msgStr('doClickHere') }}</a>
            &nbsp;
            {{ i18n.msgStr('emailVerifyInstruction3') }}
        </p>
    </ng-container>
    <ng-container content>
        <p class="instruction">
            {{ i18n.msgStr('emailVerifyInstruction1', user?.email ?? '') }}
        </p></ng-container
    >
</kc-login-template>
