@let skipLink = kcContext.skipLink;
@let actionUri = kcContext.actionUri;
@let pageRedirectUri = kcContext.pageRedirectUri;
@let client = kcContext.client;
@let messageHeader = kcContext.messageHeader;
@let message = kcContext.message;

<ng-template #headerNode>
    <span [innerHTML]="messageHeader ?? i18n.advancedMsgStr(message.summary) | kcSanitize: 'html'"> </span>
</ng-template>
<div id="kc-info-message">
    <p
        class="instruction"
        [innerHTML]="infoMessage | kcSanitize: 'html'"
    ></p>
    @if (!skipLink) {
        @if (pageRedirectUri) {
            <p>
                <a
                    [href]="pageRedirectUri"
                    [innerHTML]="i18n.msgStr('backToApplication') | kcSanitize: 'html'"
                >
                </a>
            </p>
        }
        @if (actionUri) {
            <p>
                <a
                    [href]="actionUri"
                    [innerHTML]="i18n.msgStr('proceedWithAction') | kcSanitize: 'html'"
                >
                </a>
            </p>
        }
        @if (client.baseUrl) {
            <p>
                <a
                    [href]="client.baseUrl"
                    [innerHTML]="i18n.msgStr('backToApplication') | kcSanitize: 'html'"
                >
                </a>
            </p>
        }
    }
</div>
