@let url = kcContext.url;
@let credentialLabel = kcContext.credentialLabel;
<ng-template #headerNode>
    @let credentialLabel = kcContext.credentialLabel;
    {{ i18n.msgStr('deleteCredentialTitle', credentialLabel) }}
</ng-template>

<div id="kc-delete-text">
    {{ i18n.msgStr('deleteCredentialMessage', credentialLabel) }}
</div>

<form
    class="form-actions"
    method="post"
    [action]="url.loginAction"
>
    <input
        name="accept"
        id="kc-accept"
        type="submit"
        [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
        [value]="i18n.msgStr('doConfirmDelete')"
    />

    <input
        name="cancel-aia"
        id="kc-decline"
        type="submit"
        [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
        [value]="i18n.msgStr('doCancel')"
    />
</form>
<div class="clearfix"></div>
