@let url = kcContext.url;
@let credentialLabel = kcContext.credentialLabel;
<kc-login-template [displayMessage]="displayMessage">
    <ng-container headerNode>
        {{ i18n.msgStr('deleteCredentialTitle', credentialLabel) }}
    </ng-container>
    <ng-container content>
        <div id="kc-delete-text">
            {{ i18n.msgStr('deleteCredentialMessage', credentialLabel) }}
        </div>

        <form
            class="form-actions"
            [action]="url.loginAction"
            method="post"
        >
            <input
                [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
                name="accept"
                id="kc-accept"
                type="submit"
                [value]="i18n.msgStr('doConfirmDelete')"
            />

            <input
                [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                name="cancel-aia"
                [value]="i18n.msgStr('doCancel')"
                id="kc-decline"
                type="submit"
            />
        </form>
        <div class="clearfix"></div>
    </ng-container>
</kc-login-template>
