@let url = kcContext.url;
@let idpDisplayName = kcContext.idpDisplayName;

<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('confirmOverrideIdpTitle') }}
    </ng-container>
    <ng-container content>
        <form
            id="kc-register-form"
            [action]="url.loginAction"
            method="post"
        >
            {{ i18n.msgStr('pageExpiredMsg1') }}
            <a
                id="loginRestartLink"
                [href]="url.loginRestartFlowUrl"
            >
                {{ i18n.msgStr('doClickHere') }}
            </a>
            <br />
            <br />
            <button
                type="submit"
                [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                name="submitAction"
                id="confirmOverride"
                value="confirmOverride"
            >
                {{ i18n.msgStr('confirmOverrideIdpContinue', idpDisplayName) }}
            </button>
        </form>
    </ng-container>
</kc-login-template>
