@let messageHeader = kcContext.messageHeader;
@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let recaptchaRequired = kcContext.recaptchaRequired;
@let recaptchaVisible = kcContext.recaptchaVisible;
@let recaptchaSiteKey = kcContext.recaptchaSiteKey;
@let recaptchaAction = kcContext.recaptchaAction;
@let termsAcceptanceRequired = kcContext.termsAcceptanceRequired;

<kc-login-template
  [displayInfo]="displayInfo"
  [bodyClassName]="bodyClassName()"
  [displayMessage]="displayMessage"
  [displayRequiredFields]="displayRequiredFields()"
  [documentTitle]="documentTitle()"
>
  <ng-container headerNode>
    {{ messageHeader ?? 'registerTitle' | advancedMsgStr }}
  </ng-container>
  <ng-container content>
    <form
      id="kc-register-form"
      [kcClass]="'kcFormClass'"
      [action]="url.registrationAction"
      method="post"
    >
      <kc-user-profile-form-fields (onIsFormSubmittable)="isFormSubmittable.set($event)"></kc-user-profile-form-fields>
      @if (termsAcceptanceRequired) {
        <div className="form-group">
          <div [kcClass]="'kcInputWrapperClass'">
            {{ 'termsTitle' | msgStr }}
            <div id="kc-registration-terms-text">
              {{ 'termsText' | msgStr }}
            </div>
          </div>
        </div>
        <div className="form-group">
          <div [kcClass]="'kcLabelWrapperClass'">
            <input
              type="checkbox"
              id="termsAccepted"
              name="termsAccepted"
              [kcClass]="'kcCheckboxInputClass'"
              [checked]="areTermsAccepted()"
              (change)="areTermsAccepted.set($any($event.target).checked)"
              [attr.aria-invalid]="messagesPerField.existsError('termsAccepted')"
            />
            <label
              for="termsAccepted"
              [kcClass]="'kcLabelClass'"
            >
              {{ 'acceptTerms' | msgStr }}
            </label>
          </div>
          @if (messagesPerField.existsError('termsAccepted')) {
            <div [kcClass]="'kcLabelWrapperClass'">
              <span
                id="input-error-terms-accepted"
                [kcClass]="'kcInputErrorMessageClass'"
                aria-live="polite"
                [innerHtml]="messagesPerField.get('termsAccepted') | kcSanitize: 'html'"
              ></span>
            </div>
          }
        </div>
      }
      @if (recaptchaRequired && (recaptchaVisible || recaptchaAction === undefined)) {
        <div className="form-group">
          <div [kcClass]="'kcInputWrapperClass'">
            <div
              class="g-recaptcha"
              data-size="compact"
              [attr.data-sitekey]="recaptchaSiteKey"
              [attr.data-action]="recaptchaAction"
            ></div>
          </div>
        </div>
      }

      <div [kcClass]="'kcFormGroupClass'">
        <div
          id="kc-form-options"
          [kcClass]="'kcFormOptionsClass'"
        >
          <div [kcClass]="'kcFormOptionsWrapperClass'">
            <span>
              <a
                [href]="url.loginUrl"
                [innerHTML]="'backToLogin' | msgStr | kcSanitize: 'html'"
              ></a>
            </span>
          </div>
        </div>
        @if (recaptchaRequired && !recaptchaVisible && recaptchaAction !== undefined) {
          <div
            id="kc-form-buttons"
            [kcClass]="'kcFormButtonsClass'"
          >
            <button
              [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
              class="g-recaptcha"
              [attr.data-sitekey]="recaptchaSiteKey"
              [attr.data-callback]="onCallback"
              [attr.data-action]="recaptchaAction"
              type="submit"
            >
              {{ 'doRegister' | msgStr }}
            </button>
          </div>
        } @else {
          <div
            id="kc-form-buttons"
            [kcClass]="'kcFormButtonsClass'"
          >
            <input
              [disabled]="!isFormSubmittable || (termsAcceptanceRequired && !areTermsAccepted)"
              [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
              type="submit"
              [value]="'doRegister' | msgStr"
            />
          </div>
        }
      </div>
    </form>
  </ng-container>
</kc-login-template>
