@let url = kcContext.url;
@let logoutConfirm = kcContext.logoutConfirm;
@let client = kcContext.client;

<ng-template #headerNode>
    {{ i18n.msgStr('logoutConfirmTitle') }}
</ng-template>
<div
    id="kc-logout-confirm"
    class="content-area"
>
    <p class="instruction">{{ i18n.msgStr('logoutConfirmHeader') }}</p>
    <form
        class="form-actions"
        method="POST"
        [action]="url.logoutConfirmAction"
    >
        <input
            type="hidden"
            name="session_code"
            [value]="logoutConfirm.code"
        />
        <div [kcClass]="'kcFormGroupClass'">
            <div id="kc-form-options">
                <div [kcClass]="'kcFormOptionsWrapperClass'"></div>
            </div>
            <div
                id="kc-form-buttons"
                class="kcFormGroupClass"
            >
                <input
                    tabIndex="4"
                    name="confirmLogout"
                    id="kc-logout"
                    type="submit"
                    [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                    [value]="i18n.msgStr('doLogout')"
                />
            </div>
        </div>
    </form>
    <div id="kc-info-message">
        @if (!logoutConfirm.skipLink && client.baseUrl) {
            <p>
                <a [href]="client.baseUrl">{{ i18n.msgStr('backToApplication') }}</a>
            </p>
        }
    </div>
</div>
