@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let realm = kcContext.realm;
@let auth = kcContext.auth;

<ng-template #headerNode>
    {{ i18n.msgStr('emailForgotTitle') }}
</ng-template>
<ng-template #infoNode>
    @let realm = kcContext.realm;
    @if (realm.duplicateEmailsAllowed) {
        {{ i18n.msgStr('emailInstructionUsername') }}
    } @else {
        {{ i18n.msgStr('emailInstruction') }}
    }
</ng-template>

<form
    id="kc-passwd-update-form"
    method="post"
    [kcClass]="'kcFormClass'"
    [action]="url.loginAction"
>
    <div [kcClass]="'kcFormGroupClass'">
        <div [kcClass]="'kcLabelWrapperClass'">
            <label
                for="password-new"
                [kcClass]="'kcLabelClass'"
            >
                @if (!realm.loginWithEmailAllowed) {
                    {{ i18n.msgStr('username') }}
                } @else if (!realm.registrationEmailAsUsername) {
                    {{ i18n.msgStr('usernameOrEmail') }}
                } @else {
                    {{ i18n.msgStr('email') }}
                }
            </label>
        </div>

        <div [kcClass]="'kcInputWrapperClass'">
            <input
                type="text"
                id="username"
                name="username"
                autofocus
                [kcClass]="'kcInputClass'"
                [attr.aria-invalid]="messagesPerField.existsError('username')"
                [defaultValue]="auth.attemptedUsername ?? ''"
            />

            @if (messagesPerField.existsError('username')) {
                <span
                    id="input-error-username"
                    aria-live="polite"
                    [kcClass]="'kcInputErrorMessageClass'"
                    [innerHtml]="messagesPerField.get('username') | kcSanitize: 'html'"
                ></span>
            }
        </div>
    </div>

    <div [kcClass]="['kcFormGroupClass', 'kcFormSettingClass']">
        <div
            id="kc-form-options"
            [kcClass]="'kcFormOptionsClass'"
        >
            <div [kcClass]="'kcFormOptionsWrapperClass'">
                <span>
                    <a
                        [href]="url.loginUrl"
                        [innerHTML]="i18n.msgStr('backToLogin') | kcSanitize: 'html'"
                    ></a>
                </span>
            </div>
        </div>
        <div
            id="kc-form-buttons"
            [kcClass]="'kcFormButtonsClass'"
        >
            <input
                type="submit"
                [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                [value]="i18n.msgStr('doSubmit')"
            />
        </div>
    </div>
</form>
