@let url = kcContext.url;
<kc-login-template
  [displayInfo]="displayInfo"
  [bodyClassName]="bodyClassName()"
  [displayMessage]="displayMessage"
  [displayRequiredFields]="displayRequiredFields()"
  [documentTitle]="documentTitle()"
>
  <ng-container headerNode>
    {{ 'loginIdpReviewProfileTitle' | msgStr }}
  </ng-container>
  <ng-container content>
    <form
      id="kc-idp-review-profile-form"
      [kcClass]="'kcFormClass'"
      [action]="url.loginAction"
      method="post"
    >
      <kc-user-profile-form-fields
        [classes]="classes()"
        [doUseDefaultCss]="doUseDefaultCss()"
        (onIsFormSubmittable)="isFormSubmittable.set($event)"
      />
      <div [kcClass]="'kcFormGroupClass'">
        <div
          id="kc-form-options"
          [kcClass]="'kcFormOptionsClass'"
        >
          <div [kcClass]="'kcFormOptionsWrapperClass'"></div>
        </div>
        <div
          id="kc-form-buttons"
          [kcClass]="'kcFormButtonsClass'"
        >
          <input
            [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
            type="submit"
            value="{{ 'doSubmit' | msgStr }}"
            [disabled]="!isFormSubmittable"
          />
        </div>
      </div>
    </form>
  </ng-container>
</kc-login-template>
