@let samlPost = kcContext.samlPost;
<kc-login-template
    [displayInfo]="displayInfo"
    [bodyClassName]="bodyClassName()"
    [displayMessage]="displayMessage"
    [displayRequiredFields]="displayRequiredFields()"
    [documentTitle]="documentTitle()"
>
    <ng-container headerNode>
        {{ i18n.msgStr('saml.post-form.title') }}
    </ng-container>
    <ng-container content>
        <p>{{ i18n.msgStr('saml.post-form.message') }}</p>
        <form
            name="saml-post-binding"
            method="post"
            [action]="samlPost.url"
            #setHtmlFormElement
        >
            @if (!!samlPost.SAMLRequest) {
                <input
                    type="hidden"
                    name="SAMLRequest"
                    [value]="samlPost.SAMLRequest"
                />
            }
            @if (!!samlPost.SAMLResponse) {
                <input
                    type="hidden"
                    name="SAMLResponse"
                    [value]="samlPost.SAMLResponse"
                />
            }
            @if (!!samlPost.relayState) {
                <input
                    type="hidden"
                    name="RelayState"
                    [value]="samlPost.relayState"
                />
            }
            <noscript>
                <p>{{ i18n.msgStr('saml.post-form.js-disabled') }}</p>
                <input
                    type="submit"
                    [value]="i18n.msgStr('doContinue')"
                />
            </noscript>
        </form>
    </ng-container>
</kc-login-template>
