@let url = kcContext.url;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;

<ng-template #headerNode>
    {{ i18n.msgStr('updateEmailTitle') }}
</ng-template>
<form
    id="kc-update-email-form"
    method="post"
    [kcClass]="'kcFormClass'"
    [action]="url.loginAction"
>
    <ng-container [ngComponentOutlet]="userProfileFormFields() ?? null" />
    <div [kcClass]="'kcFormGroupClass'">
        <div
            id="kc-form-options"
            [kcClass]="'kcFormOptionsClass'"
        >
            <div [kcClass]="'kcFormOptionsWrapperClass'"></div>
        </div>
        <kc-logout-other-sessions />
        <div
            id="kc-form-buttons"
            [kcClass]="'kcFormButtonsClass'"
        >
            <input
                type="submit"
                [disabled]="!isFormSubmittable()"
                [kcClass]="{
                    kcButtonClass: true,
                    kcButtonPrimaryClass: true,
                    kcButtonBlockClass: isAppInitiatedAction,
                    kcButtonLargeClass: true
                }"
                [value]="i18n.msgStr('doSubmit')"
            />
            @if (isAppInitiatedAction) {
                <button
                    type="submit"
                    name="cancel-aia"
                    value="true"
                    [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
                >
                    {{ i18n.msgStr('doCancel') }}
                </button>
            }
        </div>
    </div>
</form>
