@let url = kcContext.url;
@let realm = kcContext.realm;
@let messagesPerField = kcContext.messagesPerField;
@let stateChecker = kcContext.stateChecker;
@let account = kcContext.account;
@let referrer = kcContext.referrer;

<kc-account-template [active]="'account'">
  <ng-container content>
    <div class="row">
      <div class="col-md-10">
        <h2>{{ 'editAccountHtmlTitle' | msgStr }}</h2>
      </div>
      <div class="col-md-2 subtitle">
        <span class="subtitle"> <span class="required">*</span> {{ 'requiredFields' | msgStr }} </span>
      </div>
    </div>
    <form
      [action]="url.accountUrl"
      class="form-horizontal"
      method="post"
    >
      <input
        type="hidden"
        id="stateChecker"
        name="stateChecker"
        [value]="stateChecker"
      />
      @if (!realm.registrationEmailAsUsername) {
        <div [ngClass]="['form-group', messagesPerField.printIfExists('username', 'has-error')]">
          <div class="col-sm-2 col-md-2">
            <label
              for="username"
              class="control-label"
            >
              {{ 'username' | msgStr }}
            </label>
            @if (realm.editUsernameAllowed) {
              <span class="required">*</span>
            }
          </div>

          <div class="col-sm-10 col-md-10">
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              [disabled]="!realm.editUsernameAllowed"
              [defaultValue]="account.username ?? ''"
            />
          </div>
        </div>
      }

      <div [ngClass]="['form-group', messagesPerField.printIfExists('email', 'has-error')]">
        <div class="col-sm-2 col-md-2">
          <label
            for="email"
            class="control-label"
          >
            {{ 'email' | msgStr }}
          </label>
          <span class="required">*</span>
        </div>

        <div class="col-sm-10 col-md-10">
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            autoFocus
            [defaultValue]="account.email ?? ''"
          />
        </div>
      </div>

      <div [ngClass]="['form-group', messagesPerField.printIfExists('firstName', 'has-error')]">
        <div class="col-sm-2 col-md-2">
          <label
            for="firstName"
            class="control-label"
          >
            {{ 'firstName' | msgStr }}
          </label>
          <span class="required">*</span>
        </div>

        <div class="col-sm-10 col-md-10">
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            [defaultValue]="account.firstName"
          />
        </div>
      </div>

      <div [ngClass]="['form-group', messagesPerField.printIfExists('lastName', 'has-error')]">
        <div class="col-sm-2 col-md-2">
          <label
            for="lastName"
            class="control-label"
          >
            {{ 'lastName' | msgStr }}
          </label>
          <span class="required">*</span>
        </div>

        <div class="col-sm-10 col-md-10">
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            [defaultValue]="account.lastName ?? ''"
          />
        </div>
      </div>

      <div class="form-group">
        <div
          id="kc-form-buttons"
          class="col-md-offset-2 col-md-10 submit"
        >
          <div>
            @if (referrer) {
              <a [href]="referrer?.url">{{ 'backToApplication' | msgStr }}</a>
            }
            <button
              type="submit"
              [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
              name="submitAction"
              value="Save"
            >
              {{ 'doSave' | msgStr }}
            </button>
            <button
              type="submit"
              [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
              name="submitAction"
              value="Cancel"
            >
              {{ 'doCancel' | msgStr }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</kc-account-template>
