@let authenticators = kcContext.authenticators;
@let realm = kcContext.realm;
@let url = kcContext.url;
@let shouldDisplayAuthenticators = kcContext.shouldDisplayAuthenticators;
@let login = kcContext.login;
@let messagesPerField = kcContext.messagesPerField;
@let usernameHidden = kcContext.usernameHidden;
@let registrationDisabled = kcContext.registrationDisabled;
<kc-login-template [displayInfo]="displayInfo">
  <ng-container headerNode>
    {{ 'passkey-login-title' | msgStr }}
  </ng-container>
  <ng-container infoNode>
    @if (realm.registrationAllowed && !registrationDisabled) {
      <div id="kc-registration">
        <span>
          {{ 'noAccount' | msgStr }}
          <a
            tabIndex="6"
            [href]="url.registrationUrl"
          >
            {{ 'doRegister' | msgStr }}
          </a>
        </span>
      </div>
    }
  </ng-container>

  <ng-container content>
    <form
      id="webauth"
      [action]="url.loginAction"
      method="post"
    >
      <input
        type="hidden"
        id="clientDataJSON"
        name="clientDataJSON"
      />
      <input
        type="hidden"
        id="authenticatorData"
        name="authenticatorData"
      />
      <input
        type="hidden"
        id="signature"
        name="signature"
      />
      <input
        type="hidden"
        id="credentialId"
        name="credentialId"
      />
      <input
        type="hidden"
        id="userHandle"
        name="userHandle"
      />
      <input
        type="hidden"
        id="error"
        name="error"
      />
    </form>
    <div
      [kcClass]="'kcFormGroupClass'"
      no-bottom-margin="true"
      style="margin-bottom: 0"
    >
      @if (authenticators !== undefined && authenticators.authenticators.length !== 0) {
        <form
          id="authn_select"
          [kcClass]="'kcFormClass'"
        >
          @for (authenticator of authenticators.authenticators; track authenticator; let i = $index) {
            <input
              type="hidden"
              name="authn_use_chk"
              readOnly
              [value]="authenticator.credentialId"
            />
          }
        </form>

        @if (shouldDisplayAuthenticators) {
          @if (authenticators.authenticators.length > 1) {
            <p [kcClass]="'kcSelectAuthListItemTitle'">
              {{ 'passkey-available-authenticators' | msgStr }}
            </p>
          }

          <div [kcClass]="'kcFormClass'">
            @for (authenticator of authenticators.authenticators; track authenticator; let i = $index) {
              <div
                id="'kc-webauthn-authenticator-item-' + i"
                [kcClass]="'kcSelectAuthListItemClass'"
              >
                <i
                  [ngClass]="selectAuthListItemIconClass(authenticator.transports.iconClass)"
                  [kcClass]="'kcCommonLogoIdP'"
                  aria-hidden="true"
                ></i>
                <div [kcClass]="'kcSelectAuthListItemBodyClass'">
                  <div
                    [id]="'kc-webauthn-authenticator-label-' + i"
                    [kcClass]="'kcSelectAuthListItemHeadingClass'"
                  >
                    {{ authenticator.label | advancedMsgStr }}
                  </div>
                  @if (
                    authenticator.transports !== undefined &&
                    authenticator.transports.displayNameProperties !== undefined &&
                    authenticator.transports.displayNameProperties.length !== 0
                  ) {
                    <div
                      [id]="'kc-webauthn-authenticator-transport-' + i"
                      [kcClass]="'kcSelectAuthListItemDescriptionClass'"
                    >
                      @for (
                        nameProperty of authenticator.transports.displayNameProperties;
                        track nameProperty;
                        let i = $index
                      ) {
                        <span> {{ nameProperty | advancedMsgStr }} </span>
                        @if (i !== authenticator.transports.displayNameProperties.length - 1) {
                          <span>, </span>
                        }
                      }
                    </div>
                    <div [kcClass]="'kcSelectAuthListItemDescriptionClass'">
                      <span [id]="'kc-webauthn-authenticator-createdlabel-' + i">
                        {{ 'passkey-createdAt-label' | msgStr }}
                      </span>
                      <span [id]="'kc-webauthn-authenticator-created-' + i">
                        {{ authenticator.createdAt }}
                      </span>
                    </div>
                    <div [kcClass]="'kcSelectAuthListItemFillClass'"></div>
                  }
                </div>
              </div>
            }
          </div>
        }
      }
      <div id="kc-form-wrapper">
        @if (realm.password) {
          <form
            id="kc-form-passkey"
            [action]="url.loginAction"
            method="post"
            style="display: none"
          >
            @if (!usernameHidden) {
              <div [kcClass]="'kcFormGroupClass'">
                <label
                  for="username"
                  [kcClass]="'kcLabelClass'"
                >
                  {{ 'passkey-autofill-select' | msgStr }}
                </label>
                <input
                  tabIndex="1"
                  id="username"
                  [attr.aria-invalid]="messagesPerField.existsError('username')"
                  [kcClass]="'kcInputClass'"
                  name="username"
                  [value]="login.username ?? ''"
                  type="text"
                  autoFocus
                  autoComplete="off"
                />
                @if (messagesPerField.existsError('username')) {
                  <span
                    id="input-error-username"
                    [kcClass]="'kcInputErrorMessageClass'"
                    aria-live="polite"
                  >
                    {{ messagesPerField.get('username') }}
                  </span>
                }
              </div>
            }
          </form>
          <div
            id="kc-form-passkey-button"
            [kcClass]="'kcFormButtonsClass'"
            style="display: none"
          >
            <input
              id="authButtonId"
              type="button"
              autoFocus
              value="{{ 'passkey-doAuthenticate' | msgStr }}"
              [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
            />
          </div>
        }
      </div>
    </div>
  </ng-container>
</kc-login-template>
