@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let realm = kcContext.realm;
@let auth = kcContext.auth;
<kc-login-template
  [displayInfo]="displayInfo"
  [bodyClassName]="bodyClassName()"
  [displayMessage]="displayMessage"
  [displayRequiredFields]="displayRequiredFields()"
  [documentTitle]="documentTitle()"
>
  <ng-container headerNode>
    {{ 'emailForgotTitle' | msgStr }}
  </ng-container>
  <ng-container infoNode>
    @if (realm.duplicateEmailsAllowed) {
      {{ 'emailInstructionUsername' | msgStr }}
    } @else {
      {{ 'emailInstruction' | msgStr }}
    }
  </ng-container>

  <ng-container content>
    <form
      id="kc-passwd-update-form"
      [kcClass]="'kcFormClass'"
      [action]="url.loginAction"
      method="post"
    >
      <div [kcClass]="'kcFormGroupClass'">
        <div [kcClass]="'kcLabelWrapperClass'">
          <label
            for="password-new"
            [kcClass]="'kcLabelClass'"
          >
            @if (realm.loginWithEmailAllowed) {
              {{ 'username' | msgStr }}
            } @else if (!realm.registrationEmailAsUsername) {
              {{ 'usernameOrEmail' | msgStr }}
            } @else {
              {{ 'email' | msgStr }}
            }
          </label>
        </div>

        <div [kcClass]="'kcInputWrapperClass'">
          <input
            type="text"
            id="username"
            name="username"
            [kcClass]="'kcInputClass'"
            autoFocus
            [attr.aria-invalid]="messagesPerField.existsError('username')"
            [defaultValue]="auth.attemptedUsername ?? ''"
          />

          @if (messagesPerField.existsError('username')) {
            <span
              id="input-error-username"
              [kcClass]="'kcInputErrorMessageClass'"
              aria-live="polite"
              [innerHtml]="messagesPerField.get('username') | kcSanitize: 'html'"
            ></span>
          }
        </div>
      </div>

      <div [kcClass]="['kcFormGroupClass', 'kcFormSettingClass']">
        <div
          id="kc-form-options"
          [kcClass]="'kcFormOptionsClass'"
        >
          <div [kcClass]="'kcFormOptionsWrapperClass'">
            <span>
              <a
                [href]="url.loginUrl"
                [innerHTML]="'backToLogin' | msgStr | kcSanitize: 'html'"
              ></a>
            </span>
          </div>
        </div>
        <div
          id="kc-form-buttons"
          [kcClass]="'kcFormButtonsClass'"
        >
          <input
            [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
            type="submit"
            [value]="'doSubmit' | msgStr"
          />
        </div>
      </div>
    </form>
  </ng-container>
</kc-login-template>
